
:root
{
    --text-display-color : #00a000;
    --baby-blue : #6acbff;
}

.maxWidth-md
{
    max-width: 768px;
}

.mfdButton
{
    height: 100%;
    width: 100%;
}

.mfdTextDisplay
{
    color: var(--text-display-color);
    font-weight: bolder;
}

.hide
{
    display: none;
}

#defaultImage
{
    width: 100%;
    height: auto;
}

#navbarLogo
{
    height: 10vh;
    width: auto;
}

#navbar
{
    color: white;
    background-color: var(--baby-blue);
}

#navbar-brand
{
    color: white;
}